$buttonColor: rgb(117, 117, 216);


$buttonFontColor: rgb(255, 255, 255);

$inputForeColor: #333;

$linkFontSize: 40px;

$inputBackColor:rgb(255, 255, 255);

$singleImageBorderColor: rgb(70, 70, 184);

$singleImageWidth: 500px;

$headerColor: #da123c;

$footerColor: rgb(39, 39, 177);